name: My First Workflow
on: push

jobs:
      first_job:
          runs-on: ubuntu-latest
          steps: 
            - name: Welcome Message
              run: echo "My First Github Actions Job"
            - name: Checkout Repo
              uses: actions/checkout@v6

            - name: List Files
              run: ls 

            - name: Read Files
              run: cat README.md
           
            
            
