name: Generate ASCII Artwork
on: push

jobs:
    ascii_job:
        runs-on: ubuntu-latest
        steps:

        - name: Checkout Repo
          uses: actions/checkout@v6

        - name: list Repo files
          run: ls -lart

        - name: Executing Shell Script
          run: ./ascii-script.sh

        
        