name: Matrix Configuration
on: 
    push:
    workflow_dispatch:

jobs:
    deploy:
        strategy:
            fail-fast: false
            max-parallel: 2
            matrix:
                os: [ubuntu-latest, windows-latest] 
                # os keyword is not action , it can be named anything similar to images below
                images: [hello-world, alpine]
                exclude: 
                    - images: alpine
                      os: windows-latest
                include:
                    - images: amd64/alpine
                      os: ubuntu-latest 
        runs-on: ${{ matrix.os}}
        steps: 
            - name: Echo Docker Details
              run: docker info
            - name: Run Image on ${{ matrix.os}}
              run: docker run ${{ matrix.images}}            
    